body{
  margin: 0 auto;
  background-image: url("../img/bglogin.jpg");
  background-repeat: no-repeat;
  background-size:100% 720px;
}
.container{
  width: 500px;
  height: 300px;
  text-align: center;
  background-color: rgba(115, 115, 115, 0.7);
  color: #FFFFFF;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 150px;
}
input{
  height: 45px;
  width: 300px;
  font-size:18px;

}
.btn-login{
padding: 15px 25px;
color: #FFFFFF;
border: none;
background-color: #E5989B;

}
