button {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after { clear: both }
html { background-color: white }
body {
    color: black;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    font-size: 13px;
    text-align: center;
}
input[type=text]:not(.basic),
input[type=tel]:not(.basic),
input[type=email]:not(.basic),
input[type=password]:not(.basic),
select:not(.basic),
textarea:not(.basic) {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 17px;
    padding: 12px 16px;
    width: 210px;
}
input[type=text]:focus:not(.basic),
input[type=tel]:focus:not(.basic),
input[type=email]:focus:not(.basic),
input[type=password]:focus:not(.basic),
select:focus:not(.basic),
textarea:focus:not(.basic) {
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(89,222,44,0.4);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(89,222,44,0.4);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(89,222,44,0.4);
    border-color: #59de2c;
    outline: none;
}
input[type=text].error:not(.basic),
input[type=tel].error:not(.basic),
input[type=email].error:not(.basic),
input[type=password].error:not(.basic),
select.error:not(.basic),
textarea.error:not(.basic) { border-color: #f90 !important }
input[type=text].error:focus:not(.basic),
input[type=tel].error:focus:not(.basic),
input[type=email].error:focus:not(.basic),
input[type=password].error:focus:not(.basic),
select.error:focus:not(.basic),
textarea.error:focus:not(.basic) {
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(255,153,0,0.4);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(255,153,0,0.4);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(255,153,0,0.4);
    border-color: #f90;
}
body>#home section .section_title {
    color: #f90;
    font-size: 32px;
    font-weight: 500;
}
body>#home section .section_subtitle {
    color: #807b6e;
    font-size: 18px;
    font-weight: 500;
    margin-top: 22px;
}
body>#home section .rounded_button {
    border-radius: 500px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    background-color: rgba(50,50,50,0.05);
    background-repeat: repeat-x;
    background-image: linear-gradient(225deg, rgba(50,50,50,0.01), rgba(50,50,50,0.05));
    background-image: -moz-linear-gradient(225deg, rgba(50,50,50,0.01), rgba(50,50,50,0.05));
    background-image: -ms-linear-gradient(225deg, rgba(50,50,50,0.01), rgba(50,50,50,0.05));
    background-image: -o-linear-gradient(225deg, rgba(50,50,50,0.01), rgba(50,50,50,0.05));
    background-image: -webkit-linear-gradient(225deg, rgba(50,50,50,0.01), rgba(50,50,50,0.05));
    display: inline-block;
    padding: 4px;
}
body>#home section .rounded_button:hover {
    background-color: rgba(102,229,46,0.15);
    background-repeat: repeat-x;
    background-image: linear-gradient(225deg, rgba(102,229,46,0.07), rgba(102,229,46,0.15));
    background-image: -moz-linear-gradient(225deg, rgba(102,229,46,0.07), rgba(102,229,46,0.15));
    background-image: -ms-linear-gradient(225deg, rgba(102,229,46,0.07), rgba(102,229,46,0.15));
    background-image: -o-linear-gradient(225deg, rgba(102,229,46,0.07), rgba(102,229,46,0.15));
    background-image: -webkit-linear-gradient(225deg, rgba(102,229,46,0.07), rgba(102,229,46,0.15));
}
body>#home section .rounded_button:active { padding: 5px }
body>#home section .rounded_button:active span { padding: 6px 14px }
body>#home section .rounded_button span {
    border-radius: 500px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    background-color: #3baf16;
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #66e52e, #3baf16);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#66e52e), to(#3baf16));
    background-image: -moz-linear-gradient(top, #66e52e, #3baf16);
    background-image: -ms-linear-gradient(top, #66e52e, #3baf16);
    background-image: -o-linear-gradient(top, #66e52e, #3baf16);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66e52e), color-stop(100%, #3baf16));
    background-image: -webkit-linear-gradient(top, #66e52e, #3baf16);
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 15px;
}
body>#home section .photo_container {
    background-image: url(https://d2umsx3twley6r.cloudfront.net/assets/website/sprites-57e14dd7782dcbfa62637adc0ad5dba7.png);
    background-position: -169px -1px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    padding: 8px;
    width: 100px;
}
body>#home section .photo_container .photo {
    background-image: url(https://d2umsx3twley6r.cloudfront.net/assets/website/sprites-57e14dd7782dcbfa62637adc0ad5dba7.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    width: 100px;
}
body>#home section .quote {
    color: #807b6e;
    font-size: 23px;
    font-weight: lighter;
    line-height: 1.4em;
    position: relative;
    word-spacing: 1px;
}
body>#home section .quote .left_quote,
body>#home section .quote .right_quote {
    background-image: url(https://d2umsx3twley6r.cloudfront.net/assets/website/sprites-57e14dd7782dcbfa62637adc0ad5dba7.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    position: absolute;
    top: 0;
    width: 27px;
}
body>#home section .quote .left_quote {
    background-position: -131px -39px;
    left: 5px;
}
body>#home section .quote .right_quote {
    background-position: -131px -64px;
    right: 5px;
}
body>#home section .quote_attribution {
    display: inline-block;
    font-size: 14px;
}
body>#home section .quote_attribution b {
    color: black;
    display: inline-block;
    font-weight: bold;
}
body>#home section .quote_attribution span {
    color: #999488;
    display: inline-block;
}
body>#home #main_section {
    background-image: url(https://d2umsx3twley6r.cloudfront.net/assets/website/main_section_background-3e25d942231ecfc538d700330e8192be.jpg);
    background-position: center 15px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 433px;
    position: relative;
}
body>#home #main_section>.positional {
    margin: 0 auto;
    position: relative;
    width: 1071px;
}
body>#home #main_section>.positional #resource_swirl {
    background-image: url(https://d2umsx3twley6r.cloudfront.net/assets/website/resource_swirl-9fbfb13fdce897776158f38258f250de.png);
    background-repeat: no-repeat;
    height: 323px;
    position: absolute;
    left: 299px;
    opacity: 0.68;
    top: 15px;
    width: 772px;
    z-index: 1;
}
body>#home #main_section>.positional>.positional {
    background-color: rgba(153,148,136,0);
    background-repeat: repeat-x;
    background-image: linear-gradient(top, rgba(153,148,136,0.35), rgba(153,148,136,0));
    background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(153,148,136,0.35)), to(rgba(153,148,136,0)));
    background-image: -moz-linear-gradient(top, rgba(153,148,136,0.35), rgba(153,148,136,0));
    background-image: -ms-linear-gradient(top, rgba(153,148,136,0.35), rgba(153,148,136,0));
    background-image: -o-linear-gradient(top, rgba(153,148,136,0.35), rgba(153,148,136,0));
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(153,148,136,0.35)), color-stop(100%, rgba(153,148,136,0)));
    background-image: -webkit-linear-gradient(top, rgba(153,148,136,0.35), rgba(153,148,136,0));
    height: 368px;
    padding: 65px 0 0;
    width: 420px;
}
body>#home #main_section>.positional>.positional h1 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    line-height: 50px;
    text-shadow: 0 0 12px rgba(0,0,0,0.5);
}
body>#home #main_section>.positional>.positional #main_buttons {
    margin: 40px 0 23px;
    position: relative;
    z-index: 2;
}
body>#home #main_section>.positional>.positional #main_buttons button {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: rgba(102,229,46,0.18);
    cursor: pointer;
    display: inline-block;
    height: 56px;
    padding: 5px;
    vertical-align: top;
}
body>#home #main_section>.positional>.positional #main_buttons button:hover { background-color: rgba(102,229,46,0.3) }
body>#home #main_section>.positional>.positional #main_buttons button:active { padding: 6px }
body>#home #main_section>.positional>.positional #main_buttons button:active .button_text {
    box-shadow: 0 0 8px rgba(0,0,0,0.35);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.35);
    height: 44px;
    padding: 0 16px;
}
body>#home #main_section>.positional>.positional #main_buttons button .button_text {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 4px rgba(102,229,46,0.2);
    -moz-box-shadow: 0 0 4px rgba(102,229,46,0.2);
    -webkit-box-shadow: 0 0 4px rgba(102,229,46,0.2);
    background-color: #3baf16;
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #66e52e, #3baf16);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#66e52e), to(#3baf16));
    background-image: -moz-linear-gradient(top, #66e52e, #3baf16);
    background-image: -ms-linear-gradient(top, #66e52e, #3baf16);
    background-image: -o-linear-gradient(top, #66e52e, #3baf16);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66e52e), color-stop(100%, #3baf16));
    background-image: -webkit-linear-gradient(top, #66e52e, #3baf16);
    color: #fff;
    display: inline-block;
    font-size: 1
