doctype html
html(lang='th')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        block title
          title= 'Jade Template Engine Tutorial by SiamHTML'

      block styles
          link(href='/css/style.css', rel="stylesheet")
          body

               block content
                   div= 'Put content here.'

               block scripts
