html
  head


  div.container
    title= title
    link(href='css/register.css', rel='stylesheet')

    div
      img(src="img/hello.gif")


    body
    h1= title

          div
          label(for='name') ชื่อสินค้า :&nbsp
          input(type='text', name='name' ,placeholder='name')


          div
          label(for='price') ราคา :&nbsp
          input(type='text', name='price' ,placeholder='price')

        

          div
            input(type='submit', value= 'OK')
