<html>
  <head></head>
  <div class="container">
    <title>Login</title>
    <link href="css/main.css" rel="stylesheet"/>
    <body></body>
    <h1></h1>
    <form name="login" method="POST" action="login">
      <div>
        <input name="email" type="email" placeholder="zeezun.romiojulius@hotmail.com"/>
      </div>
      <div>
        <input name="password" type="password" placeholder="password"/>
      </div>
      <div>
        <input type="submit" value="Login"/><img src="img/flower.png"/>
        <div></div><a href="/register">Register</a>
      </div>
    </form>
  </div>
</html>
