doctype html
html
  head
    meta(charset='UTF-8')
    title Login Form
    div
    body.contianer
      link(href='css/main.css', rel='stylesheet')

  #login
  .container
      form#login_form(name='signup', method='POST', action='signup')
        .field_container
          input(for='username', name='username', type='text', placeholder='username')
          .field_container
          input(for='password',name='password', type='Password', placeholder='Password')
        div
          a.w3-bar-item.w3-button(href='index') Login
        div
          p
          input(type='submit', value= 'SIGN UP')

        div(ng-app='Hello' ng-controller='NameController')

          div
            label(for='yourName') Your name is
            input(name='yourName', type='text', ng-model='yourName')
            div
            | {{ yourName | sayhello }}
          script(type='text/javascript', src='/lib/angular/angular.min.js')
          script(type='text/javascript', src='/application.js')
