doctype html
html
  head
    meta(charset='UTF-8')
    title Login Form

    div
    body.contianer
      link(href='css/main.css', rel='stylesheet')

      #login
            form#login_form(name='login', method='POST', action='/login')
              .field_container
                input(name='username', type='text', placeholder='username')
              .field_container
                input(name='password', type='Password', placeholder='Password')
                .field_container
                each msg in messages
                 div.flash
                    = msg
                button#sign_in_button
                  span.button_text Log in

     div#mainApp(ng-include="'/modules/hello/views/hello.cilent.view.jade'")


        script(type='text/javascript', src='/lib/angular/angular.min.js')
        script(type='text/javascript', src='/modules/hello/hello.client.module.js')
        script(type='text/javascript', src='/modules/hello/controllers/hello.client.controller.js')
        script(type='text/javascript', src='/modules/hello/filters/hello.client.filter.js')
        script(type='text/javascript', src='/application.js')
