<html>
  <head></head>
  <div class="container">
    <title>Register</title>
    <link href="css/register.css" rel="stylesheet"/>
    <body>
    <h1>
      <div>
      <input type="text" name="Name" placeholder="Name"/></div>
      <div>
      <input type="text" name="Email" placeholder="Email"/></div>
      <div>
      <input type="text" name="Username" placeholder="Username"/></div>
      <div>
      <input type="password" name="password" placeholder="password"/></div>
      <div>
        <input type="submit" value="Register"/><img src="img/flower.png"/>
      </div></h1>
  </div>
  </body>
</html>
