doctype html
html
  head
    meta(charset='UTF-8')
    title Login Form
    div
    body.contianer
    link(href='css/register.css', rel='stylesheet')

    #login
      .contianer
          form#login_form(name='sigup', method='POST', action='signup')
            .field_container
              input(for='username', name='username', type='text', placeholder='username')
            .field_container
              input(for='firstname', name='Firstname', type='text', placeholder='Firstname')
            .field_container
              input(for='email', name='Email', type='email', placeholder='Email')
            .field_container
              input(for='password',name='password', type='Password', placeholder='Password')
              div
              p
              button#sign_in_button
                span.button_text SIGN UP
